@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;500;700&family=Quicksand:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#nos::-webkit-scrollbar {
    width: 1px;
    border-radius: 20px;
}
  
#nos::-webkit-scrollbar-track {
    background: #f1f1f100;
    border-radius: 20px;
}
  
#nos::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.058);
    border-radius: 20px;
}
  
#nos::-webkit-scrollbar-thumb:hover {
    background: rgb(135, 135, 135);
}